/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-tooltip-component .mdc-tooltip__surface {
    width: 300px !important;
    max-width: unset !important;
}

.mat-mdc-paginator-container{
    justify-content: center !important;
}

.mat-mdc-table{
    text-align: center !important;
}

.mat-mdc-menu-item-text{
    display: flex;
}

.mat-mdc-menu-item{
    display: block !important;
}

.mat-mdc-snack-bar-label .mdc-snackbar__label{
    text-align: center;
}