#wrapper{
    height: 89%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#mealImage{
    width: 600px;
    height: 500px;
}

#meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipe{
    padding-top: 5px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#instructions{
    margin-right: 70px;
    height: 230px;
    overflow: auto;
}

 #mapWrapper{
    display: grid;
    grid-template-columns: 50% 50%;
} 

#favourite{
    margin-top: 5px;
    width: 78%;
    display: flex;
    justify-content: end;
}

#favourite:hover{
    cursor: pointer;
}